    @foreach (var exhibit in Model.UpcomingExhibits)
    {
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="card-container">
        <img class="card-image img-fluid" src="@exhibit.ImageUrl">
          <div class="card-title">
            <p>Location: @exhibit.Location</p>
            <p>@exhibit.Genre.Name</p>
            <p class="date">
              <span class="month">
                @exhibit.DateTime.ToString("MMM")
              </span>
              <span class="day">
                @exhibit.DateTime.ToString("d ")
              </span>
            </p>
          </div>
          <div class="card-overlay"></div>
        </div>
        <div >
            <span>
              <a href="@Url.Action("Details", "Exhibits", new { id = exhibit.Id })">
                @exhibit.Photographer.Name
              </a> 
            </span>
            @if (exhibit.IsCanceled)
            {
              <span class="label label-warning">Canceled</span>
            }
          </div>
          <div >
            @if (Model.ShowActions && !exhibit.IsCanceled)
              {
                <a data-exhibit-id="@exhibit.Id"
                  class="btn @(Model.Attendances.Any(a => a.ExhibitId == @exhibit.Id && a.AttendeeId == @Model.UserId) 
                  ? "btn-outline-info" 
                  : "btn-outline-secondary") btn-sm js-toggle-attendance">
                  @(Model.Attendances.Any(a => a.ExhibitId == @exhibit.Id && a.AttendeeId == @Model.UserId) 
                  ? "Attending"
                  : "Attend")
                </a>
              }
          </div>
      </div>
      <br>
    }
