@using PhotoExhibiter.Features.Home
@model Index.Model

<h1 class="text-center voffset3">@Model.Heading</h1>

  <section>
    <img class="rellax voffset4" data-rellax-speed="2" style="
      filter:brightness(60%);
      background-attachment: fixed;
      background-position: top;
      height:25em; 
      width:100%; 
      position:relative;
      max-width:100%; 
      background-repeat: no-repeat; 
      background-size: cover; 
      background-image:url(/8adac5c1055da0fa43e92af8b89706cc.jpg);"/>
    <div class="container" style="
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      ">
      <h3 class="text-white">
      Manhattan is the Modern Age
      </h3>

      <a href="/account/register" class="btn btn-primary">
        Register
      </a>
      <a href="/account/register" class="btn btn-primary">
        LogIn
      </a>


    </div>
  </section>
 

  <section class="container">
<h4 class="text-start voffset6">Upcoming Exhibits</h4>
<ul id = "exhibits" class="exhibits voffset4">
  @foreach (var exhibit in Model.UpcomingExhibits)
  {
    <li>
      <div class="date">
        <div class="month">
          @exhibit.DateTime.ToString("MMM")
        </div>

        <div class="day">
          @exhibit.DateTime.ToString("d ")
        </div>
      </div>

      <div class="details">
        <span class="photographer">
          <a href="@Url.Action("Details", "Exhibits", new { id  =exhibit.Id })">
            @exhibit.Photographer.Name
          </a>

          @if (exhibit.IsCanceled)
          {
            <span class="label label-warning">Canceled</span>
          }

        </span>

        <span class="genre">
          @exhibit.Genre.Name
        </span>

        @if (Model.ShowActions && !exhibit.IsCanceled)
          {
            <button
              data-exhibit-id="@exhibit.Id"
              class="btn @(Model.Attendances.Any(a => a.ExhibitId == exhibit.Id) ? "btn-info" : "btn-secondary")
              btn-sm js-toggle-attendance">
              @(Model.Attendances.Any(a => a.ExhibitId ==
              exhibit.Id) ? "Attending": "Attend")
            </button>
          }

      </div>
    </li>
  }
</ul>
  </section>

@section search
{
<form asp-controller="Exhibits" asp-action="Search">
    <div class="form-horizontal">
      <div id="searchexhibits" class="input-group">
        @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control",
        placeholder = "Search by Photographer, Genre or Location..." })
        <button class="btn btn-outline-success" type="submit">Search</button>
      </div>
    </div>
  </form>
}

@section scripts
{
  <script type="text/javascript" src="~/exhibits.js"></script>
}

