@using PhotoExhibiter.Features.Home
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims 
@inject UserManager<ApplicationUser> UserManager
@model Index.Model

<h1 class="text-center mt-4">@Model.Heading</h1>

  <section>
    <img class="rellax mt-4" data-rellax-speed="2" style="
      filter:brightness(60%);
      background-attachment: fixed;
      background-position: top;
      height:25em; 
      width:100%; 
      position:relative;
      max-width:100%; 
      background-repeat: no-repeat; 
      background-size: cover; 
      background-image:url(/8adac5c1055da0fa43e92af8b89706cc.jpg);"/>

    <div class="container" style="
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      ">
      <h3 class="text-white"> Manhattan is the Modern Age </h3>
    </div>
  </section>
 
  <section class="container">
    <h4 class="text-start">Upcoming Exhibits</h4>
    <div id="exhibits" class="row mt-4">
    @foreach (var exhibit in Model.UpcomingExhibits)
    {
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="card-container">
        <img class="card-image img-fluid" src="@exhibit.ImageUrl">
          <div class="card-title">
            <p>Location: @exhibit.Location</p>
            <p>@exhibit.Genre.Name</p>

              @if (exhibit.IsCanceled)
              {
                <span class="label label-warning">Canceled</span>
              }

              @if (Model.ShowActions && !exhibit.IsCanceled)
              {
                @if (Model.UserId == exhibit.PhotographerId)
                {
                  <div class="actions">
                    <a href="@Url.Action("Edit", "Exhibits", new { Id = exhibit.Id })">
                      Edit
                    </a>
                    <a href="#" class="js-cancel-exhibit"
                      data-exhibit-id="@exhibit.Id">
                      Cancel
                    </a>
                  </div>
                 }
                else
                {
                <div>
                  @if (Model.ShowActions && !exhibit.IsCanceled)
                  {
                    <a
                      data-exhibit-id="@exhibit.Id"
                      class="btn @(Model.Attendances.Any(a => a.ExhibitId == @exhibit.Id && a.AttendeeId == @Model.UserId) 
                      ? "btn-outline-info" 
                      : "btn-outline-secondary") btn-sm js-toggle-attendance">
                      @(Model.Attendances.Any(a => a.ExhibitId == @exhibit.Id && a.AttendeeId == @Model.UserId) 
                      ? "Attending"
                      : "Attend")
                    </a>
                  }
                </div>
                }
              }

          </div>
          <div class="card-overlay"></div>
        </div>
        <div >
            <span>
              <a href="@Url.Action("Index", "Users", new { photographerId =
                exhibit.Photographer.Id })">
                @exhibit.Photographer.Name
              </a> 
              <div class="date">
                <span class="month">
                  @exhibit.DateTime.ToString("MMM")
                </span>
                <span class="day">
                  @exhibit.DateTime.ToString("d ")
                </span>
              </div>

            </span>

          </div>
      </div>
      <br>
    }
    </div>
  </section>

@section search
{
  <form asp-controller="Exhibits" asp-action="Search">
    <div class="form-horizontal">
      <div id="searchexhibits" class="input-group">
        @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control",
        placeholder = "Search by Photographer, Genre or Location..." })
        <button class="btn btn-outline-success" type="submit">Search</button>
      </div>
    </div>
  </form>
}

@section scripts
{
  <script>
    let rellax = new Rellax('.rellax') 
  </script>
}
