@using PhotoExhibiter.Features.Exhibits
@model Attending.Model
@{
    ViewBag.Title = "Home Page";
}

<h1>@Model.Heading</h1>

@using (Html.BeginForm("Search", "Exhibits"))
{
    <div class="form-group">
        <div id="searchexhibits" class="input-group">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control",
            placeholder = "Search by Photographer, Genre or Location..." })
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    </div>
}

<ul id = "exhibits" class="exhibits voffset4">
    @foreach (var exhibit in Model.UpcomingExhibits)
    {
        <li>
            <div class="date">
                <div class="month">
                    @exhibit.DateTime.ToString("MMM")
                </div>

                <div class="day">
                    @exhibit.DateTime.ToString("d ")
                </div>
            </div>

            <div class="details">
                <span class="photographer">
                    <a href="@Url.Action("Details", "Exhibits", new { id  =exhibit.Id })">
                        @exhibit.Photographer.Name
                    </a>

                    @if (exhibit.IsCanceled)
                    {
                        <span class="label label-warning">Canceled</span>
                    }

                </span>

                <span class="genre">
                    @exhibit.Genre.Name
                </span>

                @if (Model.ShowActions && !exhibit.IsCanceled)
                {
                    <button
                        data-exhibit-id="@exhibit.Id"
                        class="btn @(Model.Attendances.Any(a => a.ExhibitId == exhibit.Id)? "btn-info" : "btn-secondary")
                            btn-sm js-toggle-attendance">
                            @(Model.Attendances.Any(a => a.ExhibitId == exhibit.Id)? "Going": "Going?")
                    </button>
                }

            </div>

        </li>
    }
</ul>

@section scripts

{
        <script type="text/javascript" src="/js/exhibits.js"></script>
}
