@using PhotoExhibiter.Features.Exhibits
@model Index.Model

<h2 class="text-center mt-2">@Model.Heading</h2>

<section class="container">
  <ul id = "exhibits" class="exhibits mt-4">
    @foreach (var exhibit in Model.UpcomingExhibits)
    {
      <li>
        <div style="display:flex">

          <div class="date">
            <div class="month">
              @exhibit.DateTime.ToString("MMM")
            </div>
              <div class="day">
                @exhibit.DateTime.ToString("d ")
              </div>
            </div>

            <img class="img-thumbnail" style="height:100px;" src=@exhibit.ImageUrl>

            <div style="padding:10px">
              <div>
                <b>@exhibit.Location</b>
              </div>
              <div>
                @exhibit.Genre.Name
              </div>
            <div>
              @if (Model.ShowActions && !exhibit.IsCanceled)
              {
                <button
                  data-exhibit-id="@exhibit.Id"
                  class="btn @(Model.Attendances.Any(a => a.ExhibitId == @exhibit.Id && a.AttendeeId == @Model.UserId) 
                  ? "btn-outline-info" 
                  : "btn-outline-secondary") btn-sm js-toggle-attendance">
                  @(Model.Attendances.Any(a => a.ExhibitId == @exhibit.Id && a.AttendeeId == @Model.UserId) 
                  ? "Attending"
                  : "Attend")
                </button>
              }
            </div>

          </div>

        </div>
      </li>
    }
  </ul>
</section>

@section search
{
  @await Html.PartialAsync("_Search")
}

@section scripts
{
  <script type="text/javascript" src="~/attendances.js"></script>
}
