@using PhotoExhibiter.Features.Users
@model Index.Model

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@if (Model.UserId == Model.PhotographerId)
{
  <h2 class="text-center voffset2">My Profile</h2>
}
else
{
  <h2 class="text-center voffset2">@Model.PhotographerName's Profile</h2>
  <p class = "text-center">
    @if (User.Identity.IsAuthenticated)
    {
      if (Model.IsFollowing)
      {
        <button class="btn btn-outline-info btn-sm js-toggle-follow"
            data-user-id="@Model.PhotographerId">Following</button>
      }
      else
      {
        <button class="btn btn-outline-secondary btn-sm js-toggle-follow"
            data-user-id="@Model.PhotographerId">Follow</button>
      }
    }
  </p>
}
<section class="container">
  <div class="row">

    <div class="col order-2">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home"
          role="tab" aria-controls="home" aria-selected="true">
            <span>Upcoming Exhibits</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="followers-tab" data-toggle="tab"
          href="#followers"
          role="tab" aria-controls="profile" aria-selected="false">Followers</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="home" role="tabpanel" 
        aria-labelledby="home-tab">
          <ul id = "exhibits" class="exhibits voffset4">
            @foreach (var exhibit in Model.UpcomingExhibits)
            {
              <li>
                <div style="display:flex">

                  <div class="date">
                    <div class="month">
                      @exhibit.DateTime.ToString("MMM")
                    </div>
                    <div class="day">
                        @exhibit.DateTime.ToString("d ")
                    </div>
                  </div>

                  <img class="img-thumbnail" style="height:100px;" src=@exhibit.ImageUrl>

                  <div style="padding:10px">
                    <div>
                      <b>@exhibit.Location</b>
                    </div>
                    <div>
                      @exhibit.Genre.Name
                    </div>
                    @if (Model.UserId == Model.PhotographerId)
                    {
                      <div class="actions">
                        <a href="@Url.Action("Edit", "Exhibits", new { Id = exhibit.Id })">
                          Edit
                        </a>
                        <a href="#" class="js-cancel-exhibit"
                          data-exhibit-id="@exhibit.Id">
                          Cancel
                        </a>
                      </div>
                     }

                    <div>
                      @if (Model.ShowActions && !exhibit.IsCanceled)
                      {
                        <button
                          data-exhibit-id="@exhibit.Id"
                          class="btn @(Model.Attendances.Any(a => a.ExhibitId == @exhibit.Id && a.AttendeeId == @Model.UserId) 
                          ? "btn-outline-info" 
                          : "btn-outline-secondary") btn-sm js-toggle-attendance">
                          @(Model.Attendances.Any(a => a.ExhibitId == @exhibit.Id && a.AttendeeId == @Model.UserId) 
                          ? "Attending"
                          : "Attend")
                        </button>
                      }
                    </div>

                  </div>

                </div>
              </li>
            }
          </ul>
      </div>

      <div class="tab-pane" id="followers" role="tabpanel"
        aria-labelledby="followers-tab">

        <ul class="list uk-list uk-list-striped">
        @foreach (var photographer in Model.Followers)
        {
          <li>
            <table class="table">
                <tr>
                  <td>
                      <gravatar image-size=70 default-image="Identicon"
                        email-address="@photographer.Email"></gravatar>
                  </td>
                  <td style="padding-left:10px">
                    <p class="name">

                      <a href="@Url.Action("Index", "Users", 
                        new { photographerId =
                      photographer.Id })">
                      @photographer.Name
                    </a> 

                  </td>
                </tr>
            </table>
          </li>
         }
        </ul>
      </div>

      <div class="tab-pane" id="followers" role="tabpanel"
        aria-labelledby="followers-tab">
       ...
      </div>

    </div>
  </div>

    <div class="col order-1">
      <gravatar image-size=402 default-image="Identicon"
        email-address="@Model.PhotographerEmail"></gravatar>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Update Profile Photo
      </button>

      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <div class="col-lg-6 col-sm-12">
                <br>
                <img id="target" class="img-thumbnail" src="http://placehold.it/500x300" alt="your image" />
              </div>

              <div class="col-lg-6 col-sm-12 push-sm-12">
              <form asp-controller="Users" asp-action="Edit" method="post"
                role="form" novalidate>
                <div class="form-group">
                  <label asp-for="ImageUrl"></label>
                  <input for="Image" asp-for="ImageUrl" type="url" class="form-control imgInp" placeholder =
                  "http://" required>
                  <span asp-validation-for="ImageUrl" class="text-danger"></span>
                  <div class="invalid-feedback">Please upload and image!</div>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
              </form>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>


@section search
{
  <form asp-controller="Exhibits" asp-action="Search">
    <div class="form-horizontal">
      <div id="searchexhibits" class="input-group">
        @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control",
        placeholder = "Search by Photographer, Genre or Location..." })
        <button class="btn btn-outline-success" type="submit">Search</button>
      </div>
    </div>
  </form>
}

@section scripts
{
  <script>
    $('.imgInp').on('change',
      function () {
         $('#target').prop('src', this.value);
       });
  </script>

  <script type="text/javascript" src="~/exhibits.js"></script>
  <script type="text/javascript" src="~/exhibitCancel.js"></script>
  <script type="text/javascript" src="~/exhibitDetails.js"></script>
}
