@using PhotoExhibiter.Features.Users
@model Index.Model

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@if (Model.UserId == Model.PhotographerId)
{
  <h2 class="text-center voffset2">My Profile</h2>
}
else
{
  <h2 class="text-center voffset2">@Model.PhotographerName's Profile</h2>
  <p class = "text-center">
    @if (User.Identity.IsAuthenticated)
    {
      if (Model.IsFollowing)
      {
        <button class="btn btn-outline-info btn-sm js-toggle-follow"
            data-user-id="@Model.PhotographerId">Following</button>
      }
      else
      {
        <button class="btn btn-outline-secondary btn-sm js-toggle-follow"
            data-user-id="@Model.PhotographerId">Follow</button>
      }
    }
  </p>
}
<section class="container">
  <div class="row">

    <div class="col order-2">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home"
          role="tab" aria-controls="home" aria-selected="true">Upcoming
          Exhibits</a>
      </li>

@if (Model.UserId == Model.PhotographerId)
{
      <li class="nav-item">
        <a class="nav-link" id="mine-tab" data-toggle="tab" href="#mine"
          role="tab" aria-controls="profile" aria-selected="false">My Exhibits</a>
      </li>
}

      <li class="nav-item">
        <a class="nav-link" id="followers-tab" data-toggle="tab"
          href="#followers"
          role="tab" aria-controls="profile" aria-selected="false">Followers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="followings-tab" data-toggle="tab"
          href="#followings"
          role="tab" aria-controls="profile" aria-selected="false">Followings</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <ul id = "exhibits" class="exhibits voffset4">
            @foreach (var exhibit in Model.UpcomingExhibits)
            {
              <li>
                <div style="display:flex">

                  <div class="date">
                    <div class="month">
                      @exhibit.DateTime.ToString("MMM")
                    </div>
                    <div class="day">
                        @exhibit.DateTime.ToString("d ")
                    </div>
                  </div>

                  <img class="img-thumbnail" style="height:100px;" src=@exhibit.ImageUrl>

                  <div style="padding:10px">
                    <div>
                      <b>@exhibit.Location</b>
                    </div>
                    <div>
                      @exhibit.Genre.Name
                    </div>
                    @if (Model.UserId == Model.PhotographerId)
                    {
                      <div class="actions">
                        <a href="@Url.Action("Edit", "Exhibits", new { Id = exhibit.Id })">
                          Edit
                        </a>
                        <a href="#" class="js-cancel-exhibit"
                          data-exhibit-id="@exhibit.Id">
                          Cancel
                        </a>
                      </div>
                     }

                    <div>
                      @if (Model.ShowActions && !exhibit.IsCanceled)
                      {
                        <button
                          data-exhibit-id="@exhibit.Id"
                          class="btn @(Model.Attendances.Any(a => a.ExhibitId == @exhibit.Id && a.AttendeeId == @Model.UserId) 
                          ? "btn-outline-info" 
                          : "btn-outline-secondary") btn-sm js-toggle-attendance">
                          @(Model.Attendances.Any(a => a.ExhibitId == @exhibit.Id && a.AttendeeId == @Model.UserId) 
                          ? "Attending"
                          : "Attend")
                        </button>
                      }
                    </div>

                  </div>

                </div>
              </li>
            }
          </ul>
      </div>
@if (Model.UserId == Model.PhotographerId)
{
      <div class="tab-pane" id="mine" role="tabpanel"
        aria-labelledby="mine-tab">
       ...
      </div>
}
      <div class="tab-pane" id="followers" role="tabpanel"
        aria-labelledby="followers-tab">
       ...
      </div>
      <div class="tab-pane" id="followings" role="tabpanel"
        aria-labelledby="followings-tab">
       ...
      </div>
    </div>
  </div>

    <div class="col order-1">
      <gravatar image-size=402 default-image="Identicon"
        email-address="@User.Identity.Name"></gravatar>
    </div>

  </div>

</section>


@section search
{
  <form asp-controller="Exhibits" asp-action="Search">
    <div class="form-horizontal">
      <div id="searchexhibits" class="input-group">
        @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control",
        placeholder = "Search by Photographer, Genre or Location..." })
        <button class="btn btn-outline-success" type="submit">Search</button>
      </div>
    </div>
  </form>
}

@section scripts
{
  <script type="text/javascript" src="~/exhibits.js"></script>
  <script type="text/javascript" src="~/exhibitCancel.js"></script>
  <script type="text/javascript" src="~/exhibitDetails.js"></script>
}
